* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    list-style: none;
    background-color: #24527a;
    color: #e0ebeb;
    --border: solid #a7bcb9 2px;
}

body{
    padding: 16px;
}

.board{
    height: min(70vw,70vh);
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}



.space{
    display: flex;
    aspect-ratio: 1 / 1;
    text-align: center;
    justify-content: center;
    align-items: center;
}

dialog{
    padding: 16px;

}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.space:not(:nth-child(3n)) {
    border-right: var(--border);
  }
  
  .space:not(:nth-last-child(-n + 3)) {
    border-bottom: var(--border);
  }